header{
    background-color: rgb(204, 197, 185);
}

#myHeaderButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
    font-style: oblique;
}

#sectionOne{
    background-color: rgb(64, 61, 57);
}

#sectionOne 