/* main page */
html{
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.video-container video {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.video-container .content {
    position: relative;
    color: rgb(220, 209, 194);
    text-shadow: 10px 10px 7px rgb(0,0,0);
    text-align: center;
    font-weight: bolder;
    font-size: clamp(25px, 4vw, 100px);
}


/* header */
header{
    background-color: rgb(204, 197, 185);
}

#myHeaderButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
    font-style: oblique;
}

#myHeaderButton:hover{
    background-color: rgb(64, 61, 57);
    color: rgb(204, 197, 185);
}


/* section one */
#sectionOne{
    background-color: rgb(64, 61, 57);
    color: rgb(204, 197, 185);
    
}

.pso{
    font-style: oblique;
}


#sectionOneButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
}

#sectionOneButton:hover{
    background-color: rgb(37, 36, 34);
    color: rgb(255, 252, 242);
}

/* section two */

#sectionTwo{
    background-color: rgb(37, 36, 34);
    color: rgb(204, 197, 185);
}

#sectionTwoButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
}

#sectionTwoButton:hover{
    background-color: rgb(64, 61, 57);
    color: rgb(235, 94, 40);
}


/* section tree */

#sectionTree{
    background-color: rgb(255, 255, 255);
}

.pics {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#sectionTreeButton{
    background-color: rgb(235, 94, 40);
    color: rgb(255, 252, 242);
}

#sectionTreeButton:hover{
    background-color: rgb(37, 36, 34);
    color: rgb(255, 252, 242);
}

.sectionTreeWords{
    font-size: clamp(20px, 3vw, 500px);
    line-height: 1.2; 
    margin: 0;
}

/* section four */

#sectionFour{
    background-color: rgb(204, 197, 185);
}

#sectionFour h5{
    background-color: black;
    border-radius: 20px;
    color: rgb(255, 252, 242);
    padding: 4px;
    font-size: clamp(20px, 2vw, 50px);
}

#sectionFour img{
    border-radius: 20px;
}

/* section five */

#sectionFive{
    background-color: rgb(255, 252, 242);
}

#sectionFiveButton{
    background-color: rgb(37, 36, 34);
    color: rgb(255, 252, 242);
}

#sectionFiveButton:hover{
    background-color: rgb(64, 61, 57);
    color: rgb(235, 94, 40);
}


/* footer */

footer{
    background-color: rgb(37, 36, 34);
}

footer p{
    font-size: clamp(15px, 1vw, 40px);
    line-height: 1.2;
    margin: 0;
}

/* for all */
.hChange{
    font-size: clamp(40px, 4vw, 100px);
    line-height: 1.2;
    margin: 0;
}

.pChange{
    font-size: clamp(15px, 1.2vw, 60px);
    line-height: 1.2; 
    margin: 0; 
}

.bigText{
    font-size: clamp(25px, 3vw, 100px);
    line-height: 1.2; 
    margin: 0;
}

