/* main page */

/* header */
header{
    background-color: rgb(204, 197, 185);
}

#myHeaderButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
    font-style: oblique;
}

#myHeaderButton:hover{
    background-color: rgb(64, 61, 57);
    color: rgb(204, 197, 185);
}


/* section one */
#sectionOne{
    background-color: rgb(64, 61, 57);
    color: rgb(204, 197, 185);
}

.pso{
    font-style: oblique;
}


#sectionOneButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
}

#sectionOneButton:hover{
    background-color: rgb(37, 36, 34);
    color: rgb(255, 252, 242);
}

/* section two */

#sectionTwo{
    background-color: rgb(37, 36, 34);
    color: rgb(204, 197, 185);
}

#sectionTwoButton{
    background-color: rgb(255, 252, 242);
    color: rgb(37, 36, 34);
}

#sectionTwoButton:hover{
    background-color: rgb(64, 61, 57);
    color: rgb(235, 94, 40);
}


/* section tree */
.pics {
    width: 80px; /* Adjust size as needed */
    height: 80px;
    border-radius: 50%;
}

#sectionTreeButton{
    background-color: rgb(235, 94, 40);
    color: rgb(255, 252, 242);
}

#sectionTreeButton:hover{
    background-color: rgb(37, 36, 34);
    color: rgb(255, 252, 242);
}

.sectionTreeWords{
    font-size: clamp(20px, 1.2vw, 100px);
    line-height: 1.2; 
    margin: 0;
}

/* for all */
.hChange{
    font-size: clamp(40px, 4vw, 100px);
    line-height: 1.2;
    margin: 0;
}

.pChange{
    font-size: clamp(15px, 1.2vw, 60px);
    line-height: 1.2; 
    margin: 0; 
}

.bigText{
    font-size: clamp(25px, 3vw, 100px);
    line-height: 1.2; 
    margin: 0;
}